<%-include('../partials/adminHead.ejs')%>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Category Management</h6>
                <form method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1"   class="form-label">Category Name</label>
                        <input type="text" class="form-control"
                            aria-describedby="emailHelp" name="name">
                    
                    </div>
                   
                   
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

            <%-include('../partials/adminFooter.ejs')%>