<%-include('../partials/userHeader.ejs')%>

<div class="row" style="margin-left: 20% ;">

    <div class="col-md-9">
        <div class="contact-wrap">
            <h3>ADD ADDRESS</h3>
            
            <form method="post">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                  <label for="address">Address:</label>
                  <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="city">Email:</label>
                    <input type="email" class="form-control" id="city" name="email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" id="city" name="city">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="state" name="state">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="zip">Mobile</label>
                    <input type="text" class="form-control" id="zip" name="mobile">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="zip">Zip Code:</label>
                    <input type="text" class="form-control" id="zip" name="pin">
                  </div>
                </div>
                <div class="form-group">
                  <label for="country">Country:</label>
                  <input type="text" class="form-control" id="country" name="country">
                </div>
                <button type="submit" class="btn btn-primary">ADD ADDRESS</button>
              </form>	
        </div>
    </div>

   
    
</div>
</div>
</div>
<%-include('../partials/userFooter.ejs')%>