<%-include('../partials/userHeader.ejs')%>
<form action="" method="post">
<div class="colorlib-product">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-10 offset-md-1">
                    <div class="process-wrap">
                        <div class="process text-center active">
                            <p><span>01</span></p>
                            <h3>Shopping Cart</h3>
                        </div>
                        <div class="process text-center active">
                            <p><span>02</span></p>
                            <h3>Checkout</h3>
                        </div>
                        <div class="process text-center">
                            <p><span>03</span></p>
                            <h3>Order Complete</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
               

                

                <div class="col-lg-8">
                    <h3>Billing Address</h3>
                    <hr>
                    <a href="/address" class="btn btn-primary ">Add Address</a>
                    <br><br>
                    
                        <div style="width:auto;height:auto" class="order_box">
                            
                                <p>No address added</p>
                           
                        </div>
                   
                </div>
                











                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Cart Total</h2>
                                <ul>
                                    <li>
                                        <span>Subtotal</span> <span><%=Total%></span>
                                        <ul>
                                            <li><span>1 x Product Name</span> <span>$00.00</span></li>
                                            <li><span>1 x Product Name</span> <span>$00.00</span></li>
                                        </ul>
                                    </li>
                                    <li><span>Shipping</span> <span>$0.00</span></li>
                                    <li><span>Order Total</span> <span><%=Total%></span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Payment Method</h2>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Check Payment</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="payment" value="COD"> Cash On Delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="COD"> I have read and accept the terms and
                                                conditions</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p> <button type="submit" value="placeorder" class="btn btn-primary"></button></p>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </form>
   
    </div>
</form>



    <%-include('../partials/userFooter.ejs')%>